**/*.nc4
.bash*
.conda
**/.ipynb_checkpoints
**/.DS_Store
**/regrid*.nc
**/ogc_temp.nc
notebooks/resources/nrt
notebooks/resources/cyclepass
notebooks/sentinel-6/resources/nrt
notebooks/sentinel-6/resources/cyclepass
notebooks/GIS/SWOT_sample_files
notebooks/SWOT_sample_files
notebooks/datasets/data_downloads
notebooks/datasets/dask-worker-space
notebooks/DataStories/Sea_Surface_to_Sea_Life/Data in Action Figure 1/*.py
notebooks/DataStories/Sea_Surface_to_Sea_Life/Data in Action Figure 2/*.py

.Rproj.user
.Rhistory
.RData
.Ruserdata

*_cache/
/.quarto/
/_site/
.quarto/
_site/

**/*.quarto_ipynb
