**/*.nc4
.bash*
.conda
**/.ipynb_checkpoints
**/.DS_Store
**/regrid*.nc
**/ogc_temp.nc
notebooks/resources/nrt
notebooks/resources/cyclepass
notebooks/sentinel-6/resources/nrt
notebooks/sentinel-6/resources/cyclepass
notebooks/GIS/SWOT_sample_files
notebooks/SWOT_sample_files

.Rproj.user
.Rhistory
.RData
.Ruserdata

*_cache/
/.quarto/
/_site/
